@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap");
/* General
-------------------------------------------------------------- */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'work sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  background-color: #000;
  color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sd-page {
  height: 100vh;
  position: relative; }
  .sd-page .sd-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .sd-page.sd-page-1, .sd-page.sd-page-7 {
    background-color: #000; }
    .sd-page.sd-page-1 .sd-box, .sd-page.sd-page-7 .sd-box {
      background-color: #fff;
      color: #000;
      width: 100%;
      height: 50%;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0; }
  .sd-page.sd-page-2, .sd-page.sd-page-6, .sd-page.sd-page-8 {
    background-color: #333; }
  .sd-page.sd-page-3, .sd-page.sd-page-5, .sd-page.sd-page-9 {
    background-color: #666; }
  .sd-page.sd-page-4 {
    background-color: #999; }

@media screen and (min-width: 768px) {
  .sd-page.sd-page-1 .sd-box {
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto; } }
