// fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

//Color Variables
$background-color_body : #000;
$color_body : #fff;

//Transition Variables
$transition3s : all 0.3s ease-in-out;