@import 'variable';

/* General
-------------------------------------------------------------- */
*,
*:before,
*:after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{ 
	overflow-x: hidden;
	font-family: 'work sans',sans-serif; 
	font-weight: 300; 
	font-size: 16px; 
	line-height: 1.5; 
	letter-spacing: 0.25px;
	-webkit-font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	min-height: 100vh;
	background-color: #fff;
	color: #000;
}
img
{
	max-width: 100%; 
	vertical-align: middle; 
	-ms-interpolation-mode: bicubic;
}

a
{
	display: inline-block;
	text-decoration: none;
	transition : $transition3s;
}

// stripes

.sd-stripe
{
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	top: 0;
	width: 50px;
	height: 100%;
	background-color: transparent;

	&.sd-t
	{
		&-10
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 45%,
				#ffffff 45%,
				#ffffff 50%,
				transparent 50%,
				transparent 95%,
				#ffffff 95%,
				#ffffff 100%
				);
		}
		&-20
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 40%,
				#ffffff 40%,
				#ffffff 50%,
				transparent 50%,
				transparent 90%,
				#ffffff 90%,
				#ffffff 100%
				);
		}
		&-30
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 35%,
				#ffffff 35%,
				#ffffff 50%,
				transparent 50%,
				transparent 85%,
				#ffffff 85%,
				#ffffff 100%
				);
		}
		&-40
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 30%,
				#ffffff 30%,
				#ffffff 50%,
				transparent 50%,
				transparent 80%,
				#ffffff 80%,
				#ffffff 100%
				);
		}
		&-50
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 25%,
				#ffffff 25%,
				#ffffff 50%,
				transparent 50%,
				transparent 75%,
				#ffffff 75%,
				#ffffff 100%
				);
		}
		&-60
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 20%,
				#ffffff 20%,
				#ffffff 50%,
				transparent 50%,
				transparent 70%,
				#ffffff 70%,
				#ffffff 100%
				);
		}
		&-70
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 15%,
				#ffffff 15%,
				#ffffff 50%,
				transparent 50%,
				transparent 65%,
				#ffffff 65%,
				#ffffff 100%
				);
		}
		&-80
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 10%,
				#ffffff 10%,
				#ffffff 50%,
				transparent 50%,
				transparent 60%,
				#ffffff 60%,
				#ffffff 100%
				);
		}
		&-90
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 5%,
				#ffffff 5%,
				#ffffff 50%,
				transparent 50%,
				transparent 55%,
				#ffffff 55%,
				#ffffff 100%
				);
		}
	}


	&.sd-s
	{
		&-10	{ background-size: 10px  10px;  }
		&-20	{ background-size: 20px  20px;  }
		&-30	{ background-size: 30px  30px;  }
		&-40	{ background-size: 40px  40px;  }
		&-50	{ background-size: 50px  50px;  }
		&-60	{ background-size: 60px  60px;  }
		&-70	{ background-size: 70px  70px;  }
		&-80	{ background-size: 80px  80px;  }
		&-90	{ background-size: 90px  90px;  }
		&-100	{ background-size: 100px 100px; }
	}

	&.sd-stripe-1
	{
		left: 0%;
		width: 10%;
		clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);

		&.sd-animated
		{
			clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
		}
	}

	&.sd-stripe-2
	{
		left: 8.5%;
		width: 3%;
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);

		&.sd-animated
		{
			clip-path: polygon(0% -25%, 100% -25%, 100% 25%, 0% 25%);
		}
	}

	&.sd-stripe-3
	{
		left: 22%;
		width: 4.5%;
		clip-path: polygon(0% 150%, 100% 150%, 100% 225%, 0% 225%);

		&.sd-animated
		{
			clip-path: polygon(0% -100%, 100% -100%, 100% -25%, 0% -25%);
		}
	}

	&.sd-stripe-4
	{
		right: 6.5%;
		width: 7%;
		clip-path: polygon(0% 50%, 100% 50%, 100% 125%, 0% 125%);

		&.sd-animated
		{
			clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
		}
	}

	&.sd-stripe-5
	{
		right: 0%;
		width: 7%;
		clip-path: polygon(0% -25%, 100% -25%, 100% 75%, 0% 75%);

		&.sd-animated
		{
			clip-path: polygon(0% -150%, 100% -150%, 100% -100%, 0% -100%);
		}
	}
}

.sd-stripe-area
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


// page rules

.sd-trigger
{
	position: absolute;
	
	&-page-3-scene-2
	{
		margin-top: 350vh;
	}
	
	&-page-3-scene-3
	{
		margin-top: 450vh;
	}
	
	&-page-3-scene-4
	{
		margin-top: 550vh;
	}
}



.sd-page
{
	// fixes the width issue on scrollmagic pinned pages
	width: 100vw !important;
	height: 100vh !important;
	position: relative;
	margin-left: 0 !important;

	.sd-stripe-area
	{
		bottom: 50%;
	}

	.sd-box
	{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	// templatez

	&.sd-page-simple-title
	{
		width: 100%;
		height: 100%;
		background-color: #888;
		color: #fff;
		font-size: 16px;

		.sd-box
		{
			.sd-text
			{
				transform: translateY(30px);

				&.sd-animated
				{
					transform: translateY(-30px);
				}

				.sd-p
				{
					margin-bottom: 16px;
					//font-size: 2.25em;
					font-weight: 300;
					//letter-spacing: -2px;
				}
			}
		}
	}

	&.sd-page-work-detail
	{
		position: relative;
		background-color: #888;
		background-size: auto 125%;
		background-position: 50% 0%;
		color: #fff;

		&.sd-animated
		{
			background-position: 50% 100%;
		}

		.sd-title-box
		{
			
			.sd-year,
			.sd-company
			{
				position: absolute;
				margin: 0;
				line-height: 1;
				text-transform: uppercase;
			}

			.sd-year
			{
				margin-top: -90px;
				margin-left: -340px;
				font-size: 3em;
				font-weight: 500;
				letter-spacing: 10px;
			}

			.sd-company
			{
				font-size: 6em;
				font-weight: 600;
				letter-spacing: 5px;
			}
		}

		.sd-bg-box
		{
			background-color: #fff;
			top: 10%;
			right: 10%;
			bottom: 10%;
			left: 10%;
		}
		.sd-fg-box
		{
			color: #000;
			top: 15%;
			right: 15%;
			bottom: 15%;
			left: 15%;

			.sd-text
			{
				height: 100%;
				overflow: hidden;

				.row,
				.sd-text-col,
				.sd-bezel-col
				{
					position: relative;
					height: 100%;
				}

				.sd-text-col
				{

					&.sd-animated
					{
						//transform: translateY(-500px);
					}

					.sd-year
					{
						font-size: 1.125em;
						font-weight: 500;
						letter-spacing: 3px;
						margin-bottom: 6px;
					}

					.sd-company
					{
						font-size: 2.25em;
						font-weight: 600;
						line-height: 1.25;
						text-transform: uppercase;
						letter-spacing: 2px;
					}

					.sd-duties
					{
						font-size: 1.125em;
						font-weight: 300;
						text-transform: uppercase;
						letter-spacing: 2px;
						margin-bottom: 32px;
						padding-right: 6rem;
					}

					.sd-p
					{
						margin-bottom: 16px;
					}
				}

				.sd-bezel
				{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: scale(0.9);

					.sd-svg
					{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						max-width: 100%;
						max-height: 100%;
					}

					.sd-video
					{
						position: absolute;
					}
				}

				.sd-bezel-laptop .sd-video
				{
					width: (100 / 700 * 560%);
					height: (100 / 414 * 350%);
					top: 50%;
					left: 50%;
					margin-top: (-100 / 730 * 12%);
					transform: translate(-50%,-50%);
				}

				.sd-bezel-phone .sd-video
				{
					width: (100 / 360 * 320%);
					height: (100 / 730 * 568%);
					top: 50%;
					left: 50%;
					margin-top: (-100 / 730 * 5%);
					transform: translate(-50%,-50%);
				}
			}
		}
	}

	&.sd-page-1
	{
		background-color: #888;
		background-image: url('../img/bg_p01.jpg');
		background-size: cover;
		color: #fff;

		.sd-box
		{
			background-color: #fff;
			color: #000;
			width: 100%;
			height: 50%;
			top: auto;
			right: 0;
			bottom: 0;
			left: 0;
			text-transform: uppercase;

			.sd-name
			{
				position: absolute;
				margin-top: -70px;
				margin-left: 10px;
				line-height: 1;
				font-weight: 900;
				font-size: 3em;
				letter-spacing: -0.25px;

				&.sd-animated
				{
					transform: translateY(-50px);
				}
			}

			.sd-role
			{
				position: absolute;
				margin-top: -15px;
				margin-left: 130px;
				line-height: 1;
				font-weight: 300;
				letter-spacing: 1.75px;

				&.sd-animated
				{
					transform: translateY(-60px);
				}
			}

			.sd-location
			{
				position: absolute;
				margin-top: 10px;
				margin-left: 130px;
				line-height: 1;
				font-weight: 700;
				letter-spacing: 3.75px;

				&.sd-animated
				{
					transform: translateY(-60px);
				}
			}
		}
	}

	&.sd-page-2
	{
		position: absolute;
		z-index: 1;
		margin-top: 100vh;
	}

	&.sd-page-3
	{
		margin-top: 200vh;
		background-image: url('../img/bg_p03.jpg');
	}

	&.sd-page-4
	{
		margin-top: 400vh;
	}

	&.sd-page-5
	{
		position: absolute;
		margin-top: 100vh;

		.sd-box
		{
			background-color: #666;
		}
	}
}

// desktop stuff
@media screen and (min-width: 768px)
{
	.sd-page
	{

		&.sd-page-1
		{
			.sd-stripe-area
			{
				right: 50%;
				bottom: 0;
			}
			.sd-box
			{
				width: 50%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: auto;

				.sd-name
				{
					margin-top: 175px;
					margin-left: 50px;
				}

				.sd-role
				{
					margin-top: 210px;
					margin-left: 390px;
				}

				.sd-location
				{
					margin-top: 240px;
					margin-left: 390px;
				}
			}
		}
		&.sd-page-simple-title
		{
			font-size: 2.25em;
		}
	}
	.sd-screen
	{
		pointer-events: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.0;
	}
}