@import 'variable';

/* General
-------------------------------------------------------------- */
*,
*:before,
*:after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{ 
	font-family: 'work sans',sans-serif; 
	font-weight: 400; 
	font-size: 18px; 
	line-height: 1.5; 
	-webkit-font-smoothing: antialiased; 
	text-rendering: optimizeLegibility; 
	min-height: 100vh;
	background-color: #fff;
	color: #000;
}
img
{
	max-width: 100%; 
	vertical-align: middle; 
	-ms-interpolation-mode: bicubic;
}

a
{
	display: inline-block;
	text-decoration: none;
	transition : $transition3s;
}

// stripes

.sd-stripe
{
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	top: 0;
	width: 50px;
	height: 100%;
	background-color: transparent;

	&.sd-t
	{
		&-10
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 45%,
				#ffffff 45%,
				#ffffff 50%,
				transparent 50%,
				transparent 95%,
				#ffffff 95%,
				#ffffff 100%
				);
		}
		&-20
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 40%,
				#ffffff 40%,
				#ffffff 50%,
				transparent 50%,
				transparent 90%,
				#ffffff 90%,
				#ffffff 100%
				);
		}
		&-30
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 35%,
				#ffffff 35%,
				#ffffff 50%,
				transparent 50%,
				transparent 85%,
				#ffffff 85%,
				#ffffff 100%
				);
		}
		&-40
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 30%,
				#ffffff 30%,
				#ffffff 50%,
				transparent 50%,
				transparent 80%,
				#ffffff 80%,
				#ffffff 100%
				);
		}
		&-50
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 25%,
				#ffffff 25%,
				#ffffff 50%,
				transparent 50%,
				transparent 75%,
				#ffffff 75%,
				#ffffff 100%
				);
		}
		&-60
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 20%,
				#ffffff 20%,
				#ffffff 50%,
				transparent 50%,
				transparent 70%,
				#ffffff 70%,
				#ffffff 100%
				);
		}
		&-70
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 15%,
				#ffffff 15%,
				#ffffff 50%,
				transparent 50%,
				transparent 65%,
				#ffffff 65%,
				#ffffff 100%
				);
		}
		&-80
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 10%,
				#ffffff 10%,
				#ffffff 50%,
				transparent 50%,
				transparent 60%,
				#ffffff 60%,
				#ffffff 100%
				);
		}
		&-90
		{
			background-image: linear-gradient(135deg,
				transparent 0%,
				transparent 5%,
				#ffffff 5%,
				#ffffff 50%,
				transparent 50%,
				transparent 55%,
				#ffffff 55%,
				#ffffff 100%
				);
		}
	}


	&.sd-s
	{
		&-10	{ background-size: 10px  10px;  }
		&-20	{ background-size: 20px  20px;  }
		&-30	{ background-size: 30px  30px;  }
		&-40	{ background-size: 40px  40px;  }
		&-50	{ background-size: 50px  50px;  }
		&-60	{ background-size: 60px  60px;  }
		&-70	{ background-size: 70px  70px;  }
		&-80	{ background-size: 80px  80px;  }
		&-90	{ background-size: 90px  90px;  }
		&-100	{ background-size: 100px 100px; }
	}

	&.sd-stripe-1
	{
		left: 0%;
		width: 10%;
		clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);

		&.sd-animated
		{
			clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
		}
	}

	&.sd-stripe-2
	{
		left: 8.5%;
		width: 3%;
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);

		&.sd-animated
		{
			clip-path: polygon(0% -25%, 100% -25%, 100% 25%, 0% 25%);
		}
	}

	&.sd-stripe-3
	{
		left: 22%;
		width: 4.5%;
		clip-path: polygon(0% 150%, 100% 150%, 100% 225%, 0% 225%);

		&.sd-animated
		{
			clip-path: polygon(0% -100%, 100% -100%, 100% -25%, 0% -25%);
		}
	}

	&.sd-stripe-4
	{
		right: 6.5%;
		width: 7%;
		clip-path: polygon(0% 50%, 100% 50%, 100% 125%, 0% 125%);

		&.sd-animated
		{
			clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
		}
	}

	&.sd-stripe-5
	{
		right: 0%;
		width: 7%;
		clip-path: polygon(0% -25%, 100% -25%, 100% 75%, 0% 75%);

		&.sd-animated
		{
			clip-path: polygon(0% -150%, 100% -150%, 100% -100%, 0% -100%);
		}
	}
}

.sd-stripe-area
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


// page rules

.sd-page
{
	height: 100vh;
	position: relative;

	.sd-stripe-area
	{
		bottom: 50%;
	}

	.sd-box
	{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&.sd-page-1
	{
		background-color: #888;
		background-image: url('../img/bg_p01.jpg');
		background-size: cover;
		color: #fff;
		margin-bottom: 100vh;

		.sd-box
		{
			background-color: #fff;
			color: #000;
			width: 100%;
			height: 50%;
			top: auto;
			right: 0;
			bottom: 0;
			left: 0;
			text-transform: uppercase;

			.sd-name
			{
				position: absolute;
				margin-top: -70px;
				margin-left: 10px;
				line-height: 1;
				font-weight: 900;
				font-size: 40px;
				letter-spacing: -0.25px;

				&.sd-animated
				{
					transform: translateY(-50px);
				}
			}

			.sd-role
			{
				position: absolute;
				margin-top: -15px;
				margin-left: 130px;
				line-height: 1;
				font-weight: 300;
				font-size: 16px;
				letter-spacing: 1.75px;

				&.sd-animated
				{
					transform: translateY(-60px);
				}
			}

			.sd-location
			{
				position: absolute;
				margin-top: 10px;
				margin-left: 130px;
				line-height: 1;
				font-weight: 700;
				font-size: 16px;
				letter-spacing: 3.75px;

				&.sd-animated
				{
					transform: translateY(-60px);
				}
			}
		}
	}

	&.sd-page-2
	{
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: #888;
		color: #fff;
		font-size: 36px;
		line-height: 48px;
		letter-spacing: -2px;
		font-weight: 300;

		// &::before
		// {
		// 	content: '';
		// 	width: 100%;
		// 	height: 20px;
		// 	background-color: #000;
		// 	position: absolute;
		// 	top: -20px;
		// 	left: 0;
		// 	mask-image: linear-gradient(0deg, rgba(0,0,0,0.1), transparent);
		// }

		.sd-box
		{
			.sd-text
			{
				transform: translateY(30px);

				&.sd-animated
				{
					transform: translateY(-30px);
				}
			}
		}
	}

	&.sd-page-3
	{
		margin-top: 200vh;
		background-color: #888;
		background-image: url('../img/bg_p03.jpg');
		background-size: auto 125%;
		background-position: 50% 0%;
		color: #fff;

		&.sd-animated
		{
			background-position: 50% 100%;
		}

		.sd-title-box
		{
			.sd-year,
			.sd-company
			{
				position: absolute;
				margin: 0;
				line-height: 1;
				text-transform: uppercase;
			}

			.sd-year
			{
				margin-top: -90px;
				margin-left: -340px;
				font-size: 48px;
				font-weight: 500;
				letter-spacing: 10px;
			}

			.sd-company
			{
				font-size: 96px;
				font-weight: 600;
				letter-spacing: 5px;
			}
		}

		@keyframes sd-detail-box-animation
		{
			0%		{ opacity: 0; }
			25%		{ opacity: 0; }
			27.5%	{ opacity: 1; }
			100%	{ opacity: 1; }
		}

		.sd-detail-bg-box
		{
			background-color: #fff;
			top: 10%;
			right: 10%;
			bottom: 10%;
			left: 10%;
		}
		.sd-detail-fg-box
		{
			color: #000;
			top: 10%;
			right: 10%;
			bottom: 10%;
			left: 10%;
			padding: 50px;

			.sd-text
			{
				.sd-video
				{
					height: 100%;
				}
			}
		}
	}

	&.sd-page-4
	{
		.sd-box
		{
			background-color: #999;
		}
	}

	&.sd-page-5
	{
		.sd-box
		{
			background-color: #666;
		}
	}
}

// desktop stuff
@media screen and (min-width: 768px)
{
	.sd-page
	{
		&.sd-page-1
		{
			.sd-stripe-area
			{
				right: 50%;
				bottom: 0;
			}
			.sd-box
			{
				width: 50%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: auto;

				.sd-name
				{
					margin-top: 175px;
					margin-left: 50px;
					font-size: 48px;
				}

				.sd-role
				{
					margin-top: 210px;
					margin-left: 390px;
					font-size: 18px;
				}

				.sd-location
				{
					margin-top: 240px;
					margin-left: 390px;
					font-size: 18px;
				}
			}
		}
	}
	.sd-screen
	{
		pointer-events: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.0;
	}
}